/*! 
 *Nodding Donkey Font Set 
 * Custom designed for AACS (PLOW TECHNOLOGIES)
 * 
 */

@font-face { 
  font-family: 'NoddingDonkey';
  src: url('../font/Nodding-Donkey.eot');
  src: url('../font/Nodding-Donkey.woff') format('woff'),
       url('../font/Nodding-Donkey.ttf') format('truetype');
  font-weight: normal;
  font-style:  normal;
}
[class^="nd-icon-"],
[class*="nd-icon-"] {
  font-family: NoddingDonkey;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;

  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

/* more sprites.less reset */
.nd-icon-white,
.nav-pills > .active > a > [class^="nd-icon-"],
.nav-pills > .active > a > [class*=" nd-icon-"],
.nav-list > .active > a > [class^="nd-icon-"],
.nav-list > .active > a > [class*=" nd-icon-"],
.navbar-inverse .nav > .active > a > [class^="nd-icon-"],
.navbar-inverse .nav > .active > a > [class*=" nd-icon-"],
.dropdown-menu > li > a:hover > [class^="nd-icon-"],
.dropdown-menu > li > a:hover > [class*=" nd-icon-"],
.dropdown-menu > .active > a > [class^="nd-icon-"],
.dropdown-menu > .active > a > [class*=" nd-icon-"],
.dropdown-submenu:hover > a > [class^="nd-icon-"],
.dropdown-submenu:hover > a > [class*=" nd-icon-"] {
  background-image: none;
}

[class^="nd-icon-"]:before,
[class*=" nd-icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}


/* makes sure icons active on rollover in links */
a [class^="nd-icon-"],
a [class*=" nd-icon-"] {
  display: inline-block;
}
/* makes the font 33% larger relative to the icon container */
.nd-icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}
.btn [class^="nd-icon-"],
.nav [class^="nd-icon-"],
.btn [class*=" nd-icon-"],
.nav [class*=" nd-icon-"] {
  display: inline;
  /* keeps button heights with and without icons the same */

}


.btn [class^="nd-icon-"].nd-icon-large,
.nav [class^="nd-icon-"].nd-icon-large,
.btn [class*=" nd-icon-"].nd-icon-large,
.nav [class*=" nd-icon-"].nd-icon-large {
  line-height: .9em;
}
.btn [class^="nd-icon-"].nd-icon-spin,
.nav [class^="nd-icon-"].nd-icon-spin,
.btn [class*=" nd-icon-"].nd-icon-spin,
.nav [class*=" nd-icon-"].nd-icon-spin {
  display: inline-block;
}
.nav-tabs [class^="nd-icon-"],
.nav-pills [class^="nd-icon-"],
.nav-tabs [class*=" nd-icon-"],
.nav-pills [class*=" nd-icon-"] {
  /* keeps button heights with and without icons the same */

}
.nav-tabs [class^="nd-icon-"],
.nav-pills [class^="nd-icon-"],
.nav-tabs [class*=" nd-icon-"],
.nav-pills [class*=" nd-icon-"],
.nav-tabs [class^="nd-icon-"].nd-icon-large,
.nav-pills [class^="nd-icon-"].nd-icon-large,
.nav-tabs [class*=" nd-icon-"].nd-icon-large,
.nav-pills [class*=" nd-icon-"].nd-icon-large {
  line-height: .9em;
}
li [class^="nd-icon-"],
.nav li [class^="nd-icon-"],
li [class*=" nd-icon-"],
.nav li [class*=" nd-icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li [class^="nd-icon-"].nd-icon-large,
.nav li [class^="nd-icon-"].nd-icon-large,
li [class*=" nd-icon-"].nd-icon-large,
.nav li [class*=" nd-icon-"].nd-icon-large {
  /* increased font size for nd-icon-large */

  width: 1.5625em;
}
ul.icons {
  list-style-type: none;
  text-indent: -0.75em;
}
ul.icons li [class^="nd-icon-"],
ul.icons li [class*=" nd-icon-"] {
  width: .75em;
}
.nd-icon-muted {
  color: #eeeeee;
}
.nd-icon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.nd-icon-2x {
  font-size: 2em;
}
.nd-icon-2x.nd-icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.nd-icon-3x {
  font-size: 3em;
}
.nd-icon-3x.nd-icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.nd-icon-4x {
  font-size: 4em;
}
.nd-icon-4x.nd-icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
[class^="nd-icon-"].pull-left,
[class*=" nd-icon-"].pull-left {
  margin-right: .3em;
}
[class^="nd-icon-"].pull-right,
[class*=" nd-icon-"].pull-right {
  margin-left: .3em;
}
.btn [class^="nd-icon-"].pull-left.nd-icon-2x,
.btn [class*=" nd-icon-"].pull-left.nd-icon-2x,
.btn [class^="nd-icon-"].pull-right.nd-icon-2x,
.btn [class*=" nd-icon-"].pull-right.nd-icon-2x {
  margin-top: .18em;
}
.btn [class^="nd-icon-"].nd-icon-spin.nd-icon-large,
.btn [class*=" nd-icon-"].nd-icon-spin.nd-icon-large {
  line-height: .8em;
}
.btn.btn-small [class^="nd-icon-"].pull-left.nd-icon-2x,
.btn.btn-small [class*=" nd-icon-"].pull-left.nd-icon-2x,
.btn.btn-small [class^="nd-icon-"].pull-right.nd-icon-2x,
.btn.btn-small [class*=" nd-icon-"].pull-right.nd-icon-2x {
  margin-top: .25em;
}
.btn.btn-large [class^="nd-icon-"],
.btn.btn-large [class*=" nd-icon-"] {
  margin-top: 0;
}
.btn.btn-large [class^="nd-icon-"].pull-left.nd-icon-2x,
.btn.btn-large [class*=" nd-icon-"].pull-left.nd-icon-2x,
.btn.btn-large [class^="nd-icon-"].pull-right.nd-icon-2x,
.btn.btn-large [class*=" nd-icon-"].pull-right.nd-icon-2x {
  margin-top: .05em;
}
.btn.btn-large [class^="nd-icon-"].pull-left.nd-icon-2x,
.btn.btn-large [class*=" nd-icon-"].pull-left.nd-icon-2x {
  margin-right: .2em;
}
.btn.btn-large [class^="nd-icon-"].pull-right.nd-icon-2x,
.btn.btn-large [class*=" nd-icon-"].pull-right.nd-icon-2x {
  margin-left: .2em;
}
.nd-icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
@-moz-document url-prefix() {
  .nd-icon-spin {
    height: .9em;
  }
  .btn .nd-icon-spin {
    height: auto;
  }
  .nd-icon-spin.nd-icon-large {
    height: 1.25em;
  }
  .btn .nd-icon-spin.nd-icon-large {
    height: .75em;
  }
}

/*  Nodding Donkey uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */

.nd-icon-pump:before {
  content: "\e000";
}
.nd-icon-pump-motor:before {
  content: "\e001";
}
.nd-icon-valve-simple:before {
  content: "\e002";
}
.nd-icon-valve:before {
  content: "\e003";
}
.nd-icon-multipole-simple:before {
  content: "\e004";
}
.nd-icon-multipole-simple:before {
  content: "\e005";
}
.nd-icon-pole-simple:before {
  content: "\e006";
}
.nd-icon-pole:before {
  content: "\e007";
}
.nd-icon-tank-battery-simple:before {
  content: "\e008";
}
.nd-icon-tank-battery:before {
  content: "\e009";
}
.nd-icon-tank-simple:before {
  content: "\e00a";
}
.nd-icon-tank:before {
  content: "\e00b";
}
.nd-icon-pump-simple:before {
  content: "\e00c";
}