.modal.clp {
    width: auto;
    min-width: 200px;
    max-width: 1000px;
    left: 35%;
}
@media(max-width:767px) {
    .modal.clp {
        width: auto;
        left: 3%;
        min-width: 150px;
        max-width: 250px;
    }
}
.box.clp {
    margin: 10px;
}
.check.clp {
    font-color: green;
}
.box-content.clp {
    overflow-y: scroll;
    max-height: 300px;
}
.table.tbody.tr.clp:hover {
    background-color: red;
}
/* --------Mask Style----------------*/

.modal.mask {
    width: auto;
    min-width: 550px;
    max-width: 1000px;
    left: 50%;
}
@media(max-width:767px) {
    .modal.mask {
        width: auto;
        left: 3%;
        min-width: 150px;
        max-width: 250px;
    }
}
.box.mask {
    margin: 10px;
}
.check.mask {
    font-color: green;
}
.box-content.mask {
    overflow-y: scroll;
    max-height: 300px;
}
.table.tbody.tr.mask:hover {
    background-color: red;
}
/* --------order Style----------------*/

.modal.corder {
    width: auto;
    min-width: 200px;
    max-width: 1000px;
    left: 50%;
}
@media(max-width:767px) {
    .modal.corder {
        width: auto;
        left: 3%;
        min-width: 150px;
        max-width: 250px;
    }
}
.box.corder {
    margin: 10px;
}
.check.corder {
    font-color: green;
}
.box-content.corder {
    overflow-y: scroll;
    max-height: 200px;
}
.table.tbody.tr.corder:hover {
    background-color: red;
}
